@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


.general-scene{
    -fx-background-color: #162447;
    -fx-width: 850px;
    -fx-height: 700px;
}

.koronapoly{
    -fx-font-family: 'Major Mono Display', monospace;
    -fx-font-size: 80px;
    -fx-color: #1b1b2f;
}

.normal-headings{
    -fx-font-family: 'Major Mono Display', monospace;
    -fx-font-size: 40px;
    -fx-color: #1b1b2f;
}

.settings-headings{
     -fx-font-family: 'Major Mono Display', monospace;
     -fx-font-size: 27px;
     -fx-color: #1b1b2f;
}

.ready-text{
     -fx-font-family: 'Major Mono Display', monospace;
     -fx-font-size: 17px;
     -fx-color: #1b1b2f;
}

.entrance-button{
    -fx-border-radius: 0;
    -fx-background-color: #1f4068;
    -fx-color: white;
}

.action-button{
    -fx-background-color: #e43f5a;
    -fx-color: white;
    -fx-border: 0;
}